/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h4 {
    display: inline;
}
html {
    font-size: 18px;
    padding-bottom: 50px;
}
body {
   width: 1140px;
   margin: 0 auto;
}
#revenue {
    clear: both;
    padding-bottom: 30px;
}
.revenue-column-header,
.expense-column-header,
.revenue-row1,
.revenue-row2,
.expense-row1,
.expense-row2 {
    float: left;
    text-align: right;
}
.grid5 {
    width: 20%;
}
.grid6 {
    width: 16.66666666665%;
}
.grid12 {
    width: 8.33333333333332%
}
.row {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

#result {
    margin-top: 10px;
    height: 40px;
    font-weight: bold;
    color: darkgreen;
}
#calculate {
}
input[type="range"] {
    height: 12px;
    padding: 0px;
}
input {
    padding: 0;
    border: none;
    font-weight: 800;
    background-color: rgb(245,245,245);
    outline-color: cornflowerblue;
    width: 170px;
    text-align: right;
}
input[disabled] {
    background-color: rgb(200,200,200);
    text-align: right;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: white;
    background-color: #999;
    font-weight: 800;
    letter-spacing: .1em;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    outline: none;
    text-align: center;
}
fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}
input[type="checkbox"], input[type="radio"] {
    width: auto;
}
.left {
    text-align: right;
}